<%= form_for(resource,
      as: resource_name,
      url: password_path(resource_name),
      html: { method: :post }) do |f| %>
  <h2>Forgot your password?</h2>
  <%= devise_error_messages! %>

  <%= f.label :email, class: 'sr-only' %>
  <%= f.email_field :email,
                    autofocus: true,
                    required: true,
                    class: 'form-control margin-bottom',
                    placeholder: 'Email address' %>

  <%= f.button "Send password reset instructions", class: "btn btn-lg btn-primary btn-block" %>
<% end %>

<%= render "devise/shared/links" %>
